# Images
public com.mojang.blaze3d.platform.NativeImage pixels

public net.minecraft.util.thread.BlockableEventLoop submitAsync(Ljava/lang/Runnable;)Ljava/util/concurrent/CompletableFuture;

public net.minecraft.client.renderer.GameRenderer guiRenderer
public net.minecraft.client.renderer.GameRenderer fogRenderer
