# Images
public com.mojang.blaze3d.platform.NativeImage f_84964_ # pixels
public com.mojang.blaze3d.platform.NativeImage pixels

public net.minecraft.util.thread.BlockableEventLoop m_18689_(Ljava/lang/Runnable;)Ljava/util/concurrent/CompletableFuture; # submitAsync
public net.minecraft.util.thread.BlockableEventLoop submitAsync(Ljava/lang/Runnable;)Ljava/util/concurrent/CompletableFuture;

public net.minecraft.client.renderer.GameRenderer guiRenderer
public net.minecraft.client.renderer.GameRenderer f_400435_ # guiRenderer
public net.minecraft.client.renderer.GameRenderer fogRenderer
public net.minecraft.client.renderer.GameRenderer f_398707_ # fogRenderer

public net.minecraft.client.gui.GuiGraphics f_399111_ # guiRenderState
public net.minecraft.client.gui.GuiGraphics guiRenderState
public net.minecraft.client.gui.GuiGraphics f_279587_ # scissorStack
public net.minecraft.client.gui.GuiGraphics scissorStack
public net.minecraft.client.gui.GuiGraphics$ScissorStack m_404199_()Lnet/minecraft/client/gui/navigation/ScreenRectangle; # peek
public net.minecraft.client.gui.GuiGraphics$ScissorStack
public net.minecraft.client.gui.GuiGraphics$ScissorStack peek()Lnet/minecraft/client/gui/navigation/ScreenRectangle;
public-f net.minecraft.client.gui.render.state.GuiItemRenderState f_400170_ # bounds
public-f net.minecraft.client.gui.render.state.GuiItemRenderState bounds
public net.minecraft.client.gui.render.state.GuiItemRenderState m_401781_(Lnet/minecraft/client/gui/navigation/ScreenRectangle;)Lnet/minecraft/client/gui/navigation/ScreenRectangle; # calculateBounds
public net.minecraft.client.gui.render.state.GuiItemRenderState calculateBounds(Lnet/minecraft/client/gui/navigation/ScreenRectangle;)Lnet/minecraft/client/gui/navigation/ScreenRectangle;