# Images
public com.mojang.blaze3d.platform.NativeImage f_84964_ # pixels
public com.mojang.blaze3d.platform.NativeImage pixels

public net.minecraft.util.thread.BlockableEventLoop m_18689_(Ljava/lang/Runnable;)Ljava/util/concurrent/CompletableFuture; # submitAsync
public net.minecraft.util.thread.BlockableEventLoop submitAsync(Ljava/lang/Runnable;)Ljava/util/concurrent/CompletableFuture;

public net.minecraft.client.renderer.GameRenderer guiRenderer
public net.minecraft.client.renderer.GameRenderer f_400435_ # guiRenderer
public net.minecraft.client.renderer.GameRenderer fogRenderer
public net.minecraft.client.renderer.GameRenderer f_398707_ # fogRenderer